@model IsItABangerWeb.Models.Song

@{
    ViewBag.Title = "Details";
}

@{
    string bgColour = Model.IsItABanger ? "green" : "red";
    string bangerText = Model.IsItABanger ? "BANGER" : "NOT A BANGER";
}

<h2>@bangerText</h2>

<div style="background-color:@bgColour">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bpm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bpm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Drops)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drops)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DropsAreDope)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DropsAreDope)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasAcousticInstruments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasAcousticInstruments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
