@model IEnumerable<IsItABangerWeb.Models.Song>

@{
    ViewBag.Title = "See all songs";
}

<table class="table">
    <tr>
        <th>
            Song
        </th>
        <th>
            Artist
        </th>
        <th>
            BPM
        </th>
        <th>
            Drops
        </th>
        <th>
            Dope?
        </th>
        <th>
            Acoustic Instruments
        </th>
        <th>
            Banger?
        </th>
    </tr>

@foreach (var item in Model) {
    var rowClass = item.IsItABanger ? "success" : "danger";
    <tr class="@rowClass">
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bpm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drops)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropsAreDope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasAcousticInstruments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsItABanger)
        </td>
    </tr>
}

</table>
