@model IEnumerable<IsItABangerWeb.Models.Song>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bpm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Drops)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DropsAreDope)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasAcousticInstruments)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bpm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Drops)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DropsAreDope)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasAcousticInstruments)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
